@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
/* .contact-logo {
  height: 50px;
  width: 50px;
  margin: 10px;
}

.contact {
  float: left;
  width: 20%;
  margin: 2.5%;
}

.contact img {
  width: 100%;
  display: block;
}

.contactContainer {
  position: relative;
  overflow: hidden;
} */
